<div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light border-warning">
      <div class="modal-header bg-warning text-dark">
        <h5 class="modal-title" id="warningModalLabel">Warning</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="warningModalText">Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="warningModalConfirm" type="button" class="btn btn-warning">Confirm</button>
      </div>
    </div>
  </div>
</div>
